<!DOCTYPE html>
<html>
<head>
	<title>Professor 3abqarino</title>
	<link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
</head>
<body>
<img id = "cover" src = "../static/img/Cover photo.png"> 
<img id = "logo" src = "../static/img/3abqarino.png">
<h1>Professor 3abqarino</h1>

 <!--<img  id = "fbm" src = "Facebook_Messenger_logo.svg.png"><div id = "mass"><p>Open in Massanger	</p></div>-->
 <div style="">
 <a href="https://www.facebook.com/messages/t/225552284515947"><img  id = "fbm" src = "../static/img/Messenger_logo.png"> </a>
 <a href="https://www.facebook.com/Prof.3abq/"><img  id = "fb" src = "../static/img/facebook logo.png"></a>
</div>
</div>
</body>
</html>